{% extends 'main.html' %}
{% block content %}
<div class="header-bar">
    <h1>Register hhhh</h1>
 </div>
<div class="card-body">
    
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">{{ form.username.label }}</label>
            {{form.username}}
    
            <label for="">{{ form.password1.label }}</label>
            {{form.password1}}
    
            <label for="">{{ form.password2.label }}</label>
            {{form.password2}}

            <button class="btn btn-success" type="submit">login</button>
        </form>
          <p>already have an accound <a href="{% url 'login' %}">login</a></p>
</div>
{% endblock content %}