{% extends 'main.html' %}
{% block content %}

<div class="header-bar">
  <div>
    <h1>HELLOO  welcome{{request.user|title}}</h1>
    <h3>you have <i>{{count}}</i> incomplete task{{count|pluralize:'s'}}</h3>
  </div>
{% if user.is_authenticated %}
  <a style="text-decoration: none;" href="{% url 'logout' %}">logout</a>
  {% else %}
  <a style="text-decoration: none;" href="{% url 'login' %}">login</a>
{% endif %}
</div>


  <h1>my todo list</h1>
 <div class="search-add-wrapper">
    <form action="" method="GET">
      <input type="text" name="search_area" value="{{search_input}}">
      <input class="button" type="submit" value="search">
    </form>
    <a  style="text-decoration: none;" href="{% url 'task_create' %}">Add task</a>

 </div>
  <div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
      {% if task.complete %}
      <div class="task-title">
        <div class="task-complete-icon"></div>
        <i><s><a href="{% url 'task_update' task.id %}">{{ task }}</a></s></i>
      </div>
      {% else %}
      <div class="task-title">
        <div class="task-incomplete-icon"></div>
        <a href="{% url 'task_update' task.id %}">{{ task }}</a>
      </div>
      {% endif %}
      <a class="delete-link" style="text-decoration: none;" href="{% url 'task_delete' task.id %}">&#215</a>
    </div>
    {% empty %}
    <h3>no items in list</h3>
    {% endfor %}
  </div>



  {% endblock content %}


 

